body{
	background-image: url("colorWave.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#mainContainer{
	display: flex;
/*	background-color: red;*/
}

#left{
	flex: 1;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 3%;
	margin-top: 1%;
	height: 100vh;
	border-radius: 35px;
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
	
}

#middle{
	flex: 1;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 3%;
	margin-top: 1%;
	border-radius: 35px;
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
}

#middle img{
	margin-top: 5%;
}

#right{
	flex: 1;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 3%;
	margin-top: 1%;
	margin-right: 3%;
	border-radius: 35px;
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
}

#inventoryTop{
	background-color: ghostwhite;
	font-size: 40px;
}

#nameTop{
	background-color: ghostwhite;
	font-size: 40px;
	
}


#storeTop{
	background-color: ghostwhite;
	font-size: 40px;
	
}

#leaderboardTop{
	background-color: ghostwhite;
	font-size: 40px;
	border-radius: 15px;
	margin: 1%;
}

.itemCard{
	text-align: left;
	padding: 3%;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 3%;
	margin-top: 1%;
	margin-right: 3%;
	border-radius: 35px;
	font-size: 20px;
}

.leaderboardPosition{
	text-align: left;
	padding: 1%;
	padding-left: 2%;
	background: rgba(255, 255, 255, 0.5);
	margin-left: 3%;
	margin-top: 1%;
	margin-right: 3%;
	border-radius: 35px;
	font-size: 20px;
}